<!DOCTYPE html>
<html>
<head>
 	<meta charset="UTF-8"> 
	<title>Avaliação</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="../assets/css/avaliacao.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light ">
			<div class="container">	

				<div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarSupportedContent">
					<ul class="nav navbar-nav ">
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" href="#" id="login_nav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Olá, Usuário <i class="fa fa-user"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="login_nav">
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Editar Perfil</a>
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Cadastrar Carro</a>
							<a class="dropdown-item" href="#">Minhas Reservas</a>
							<a class="dropdown-item" href="#">Carros Cadastrados</a>
							<a class="dropdown-item" href="#">Reservas Concluidas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Sair</a>
							</div>
						</li>
				</div>

			</div>
		</nav>
	
	<div class="container">
		<div class="row pb-5">
			<div class="col-lg-12">
				<div class="header">
					<h3>Avaliação</h1>
				</div>
			</div>
		</div>
		<form>
		
			<div class="form-row ">
				<div class="form-group col-md-6  ">
					<label for="inputDialogo">Diálogo com o Locatário</label>
					
				</div>
				<div class="form-group reverse starrating offset-md-1">
					    <input type="radio" id="star5" class="star" name="dialogo" value="5" /><label class="fas fa-star" for="star5" 	title="5 estrelas"></label>  
			            <input type="radio" id="star4" class="star" name="dialogo" value="4" /><label class="fas fa-star" for="star4" title="4 estrelas"></label>
			            <input type="radio" id="star3" class="star" name="dialogo" value="3" /><label class="fas fa-star" for="star3" title="3 estrelas"></label>
			            <input type="radio" id="star2" class="star" name="dialogo" value="2" /><label class="fas fa-star" for="star2" title="2 estrelas"></label>
			            <input type="radio" id="star1" class="star" name="dialogo" value="1" /><label class="fas fa-star" for="star1" title="1 estrela"></label>
				</div>
			</div>

			<div class="form-row ">
				<div class="form-group col-md-6 ">
					<label for="inputCarro">Carro Limpo</label>
					
				</div>
				<div class="form-group  reverse starrating offset-md-1">
					    <input type="radio" id="star5_carro"  name="carro" value="5" /><label class=" fas fa-star" for="star5_carro" 	title="5 estrelas"></label>  
			            <input type="radio" id="star4_carro"   name="carro" value="4" /><label class="fas fa-star" for="star4_carro" title="4 estrelas"></label>
			            <input type="radio" id="star3_carro"  name="carro" value="3" /><label class="fas fa-star" for="star3_carro" title="3 estrelas"></label>
			            <input type="radio" id="star2_carro"   name="carro" value="2" /><label class="fas fa-star" for="star2_carro" title="2 estrelas"></label>
			            <input type="radio" id="star1_carro"   name="carro" value="1" /><label class="fas fa-star" for="star1_carro" title="1 estrela"></label>
				</div>
			</div>
			
			<div class="form-row ">
				<div class="form-group col-md-6 ">
					<label for="inputVerac">Veracidade em Relação ao Anúncio</label>
					
				</div>
				<div class="form-group  reverse starrating offset-md-1">
					 <input type="radio" id="star5_verac"  name="verac" value="5" /><label class=" fas fa-star" for="star5_verac" 	title="5 estrelas"></label>  
		            <input type="radio" id="star4_verac"  name="verac" value="4" /><label class="fas fa-star" for="star4_verac" title="4 estrelas"></label>
		            <input type="radio" id="star3_verac" name="verac" value="3" /><label class="fas fa-star" for="star3_verac" title="3 estrelas"></label>
		            <input type="radio" id="star2_verac" name="verac" value="2" /><label class="fas fa-star" for="star2_verac" title="2 estrelas"></label>
		            <input type="radio" id="star1_verac" name="verac" value="1" /><label class="fas fa-star" for="star1_verac" title="1 estrela"></label>
				</div>

			</div>

			<div class="form-row ">
				<div class="form-group col-md-6">
					<label for="inputPreco">Preço Justo</label>
					
				</div>
				<div class="form-group reverse starrating offset-md-1">
					<input type="radio" id="star5_preco" name="preco" value="5" /><label class="fas fa-star" for="star5_preco" title="5 estrelas"></label>  
		            <input type="radio" id="star4_preco" name="preco" value="4" /><label class="fas fa-star" for="star4_preco" title="4 estrelas"></label>
		            <input type="radio" id="star3_preco" name="preco" value="3" /><label class="fas fa-star" for="star3_preco" title="3 estrelas"></label>
		            <input type="radio" id="star2_preco" name="preco" value="2" /><label class="fas fa-star" for="star2_preco" title="2 estrelas"></label>
		            <input type="radio" id="star1_preco" name="preco" value="1" /><label class="fas fa-star" for="star1_preco" title="1 estrela"></label>
				</div>
			</div>

			<div class="form-row ">
				<div class="form-group col-md-6">
					<label for="inputComp">Comprometimento com Cliente</label>
					
				</div>
				<div class="form-group reverse starrating offset-md-1">
					<input type="radio" id="star5_comp" name="comproment" value="5" /><label class=" fas fa-star" for="star5_comp" 	title="5 estrelas"></label>  
		            <input type="radio" id="star4_comp" name="comproment" value="4" /><label class="fas fa-star" for="star4_comp" title="4 estrelas"></label>
		            <input type="radio" id="star3_comp" name="comproment" value="3" /><label class="fas fa-star" for="star3_comp" title="3 estrelas"></label>
		            <input type="radio" id="star2_comp" name="comproment" value="2" /><label class="fas fa-star" for="star2_comp" title="2 estrelas"></label>
		            <input type="radio" id="star1_comp" name="comproment" value="1" /><label class="fas fa-star" for="star1_comp" title="1 estrela"></label>
				</div>
			</div>
			
			
			<div class= "form-row">
				<div class= "col-6 col-md-2 offset-md-1">
					<button type="submit" class="btn btn-danger" id="botaoCancelar"> Cancelar </button> 

				</div>
				<div class= " col-6 col-md-2 offset-md-6">
					<button type="submit" class="btn btn-success" id="botaoFinalizar"> Finalizar </button> 

				</div>

			</div>
			</form>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>