<!DOCTYPE html>
<html>
<head>
	<title>Editar Perfil</title>

	<!-- ### Bootstrap ### -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- ### Fontes ### -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- ### Estilos Gerais ### -->
	<link rel="stylesheet" type="text/css" href="../assets/css/editar_usuario.css">
</head>
<body>
	<nav class="navbar navbar-expand-md navbar-light bg-light ">
			<div class="container">	

				<div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarSupportedContent">
					<ul class="nav navbar-nav ">
						<li class="nav-item dropdown ">
							<a class="nav-link dropdown-toggle" href="#" id="login_nav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Olá, Usuário <i class="fa fa-user"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="login_nav">
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Editar Perfil</a>
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Cadastrar Carro</a>
							<a class="dropdown-item" href="#">Minhas Reservas</a>
							<a class="dropdown-item" href="#">Carros Cadastrados</a>
							<a class="dropdown-item" href="#">Reservas Concluidas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Sair</a>
							</div>
						</li>
				</div>

			</div>
		</nav>
	
	<div class="container content rounded">
		<div class="row">
			<div class="col-lg-12">
				<div class="header">
					<h3>Editar Perfil</h1>
				</div>
			</div>
		</div>
		<form>

			<div class="form-row">
				<div class="form-group col-md-8 offset-md-1">
					<label for="inputEmail">Email</label>
					<input type="email" class="form-control" id="inputEmail" placeholder="email@gmail.com">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-8 offset-md-1">
					<label for="inputEndereco">Endereço</label>
					<input type="text" class="form-control" id="inputEndereco" placeholder="Rua Gomes Carneiro, 1">
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-4 offset-md-1">
					<label for="inputEstado">Estado</label>
					<select id = "inputEstado" name="estados-brasil" class="form-control">
						<option value=""></option>
					</select>	
				</div>
				<div class="form-group col-md-4 offset-md-2">
					<label for="inputCidade">Cidade</label>
					<select id = "inputCidade" name="cidades-estado" class="form-control">
					</select>	
				</div>
			</div>
	

			<div class="form-row">
				<div class="form-group col-md-4 offset-md-1">
					<label for="inputTelefone">Telefone</label>
					<input class="form-control" id="inputTelefone" placeholder="(53)9999-5555" type="text"/>
				</div>
			</div>

			<div class="form-row">
				<div class="form-group col-md-3 offset-md-1">
					<label for="inputSenha">Senha Atual</label>
					<input type="password" class="form-control" id="inputSenha" placeholder="Obrigatório*">
				</div>
				<div class="form-group col-md-3 offset-md-1">
					<label for="inputNovaSenha">Nova Senha</label>
					<input type="password" class="form-control " id="inputNovaSenha" placeholder="Obrigatório*">
				</div>
				<div class="form-group col-md-3">
					<label for="inputConfSenha">Confirmar Senha</label>
					<input type="password" class="form-control " id="inputConfSenha" placeholder="Obrigatório*">
				</div>
			</div>
			
			<div class= "form-row">
				<div class= "col-6 col-md-2 offset-md-1">
					<button type="submit" class="btn btn-danger" id="botaoCancelar"> Cancelar </button> 

				</div>
				<div class= " col-6 col-md-2 offset-md-6 d-flex flex-row-reverse ">
					<button type="submit" class="btn btn-success" id="botaoFinalizar"> Finalizar </button> 

				</div>

			</div>
			</form>
	</div>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="../assets/js/form_city.js"></script>
<!-- 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

</body>
</html>