<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<!-- ### Bootstrap ### -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- ### Fontes ### -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

	<!-- ### Estilos Gerais ###-->
	<link rel="stylesheet" type="text/css" href="../assets/css/home.css">
	
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container d-flex flex-row-reverse">
			<div class="navbar-nav ">
				<a class="nav-item nav-link" id="cadastro_nav" href="cadastrar_usuario.html">Cadastro</a>
				<a class="nav-item nav-link" id ="login_nav" href="#login" data-toggle="modal" data-target="#myModal">Login <i class="fa fa-user"></i></a></li>
			</div>
		</div>
	</nav>

	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Login</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
					<form>
						<div class="form-row">
							<div class="form-group col-md-8 offset-md-1">
								<label for="inputEmail">Email</label>
								<input type="email" class="form-control" id="inputEmail" placeholder="user@gmail.com">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-4 offset-md-1">
								<label for="inputSenha">Senha</label>
								<input type="password" class="form-control" id="inputSenha">
							</div>
						</div>
					</form>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Entrar</button>
				</div>
				
			</div>
		</div>
	</div>
	

	<nav>
		<div class="container">
			<div class="nav nav-tabs" id="nav-tab" role="tablist">
				<a class="nav-item nav-link active" id="nav-pesqCarro-tab" data-toggle="tab" href="#nav-pesqCarro" role="tab" aria-controls="nav-pesqCarro" aria-selected="true">Carros <i class="fa fa-car"></i></a>
				<a class="nav-item nav-link" id="nav-pesqUsuario-tab" data-toggle="tab" href="#nav-pesqUsuario" role="tab" aria-controls="nav-pesqUsuario" aria-selected="false">Usuários <i class="fa fa-user"></i></a>
			</div>
		</div>
	</nav>
	
	<div class="container">
		<div class="tab-content" id="nav-tabContent">
			<!-- Pesquisar Carro (ABA)-->
			<div class="tab-pane fade show active" id="nav-pesqCarro" role="tabpanel" aria-labelledby="nav-pesqCarro-tab">
				<form class="container content rounded">
					<div class = "row">
						<div class = "col-md-9 offset-md-1">

							<div class="form-row pt-5">
								<div class="form-group col-md-5 ">
									<label for="inputEstado">Estado</label>
									<select id = "inputEstado" name="estados-brasil" class="form-control">
										<option value=""></option>
									</select>	
								</div>
								<div class="form-group col-md-5 offset-md-1">
									<label for="inputCidade">Cidade</label>
									<select id = "inputCidade" name="cidades-estado" class="form-control">
									</select>	
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4  ">
									<label for="inputInicioReserva">Início da reserva</label>
									<input class="form-control" id="fim-reserva" name="date" placeholder="dia/mes/ano" type="text"/>
								</div>
								<div class="form-group col-md-4 offset-md-2 ">
									<label for="inputInicioReserva">Fim da reserva</label>
									<input class="form-control" id="fim-reserva" name="date" placeholder="dia/mes/ano" type="text"/>
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-md-4 col-lg-2">
									<label for="inputMarca">Marca</label>
									<select id = "inputMarca" name="marca" class="form-control">
										<option value="Toyota">Toyota</option>
									</select>	
									
								</div>
								<div class="form-group col-md-5 col-lg-8 ">
									<label for="inputModelo">Modelo</label>
									<select id = "inputModelo" name="modelo" class="form-control">
										<option value=""></option>
									</select>	
								</div>
								
								<div class="form-group col-md-2 col-lg-1 ">
									<label for="inputAno">Ano</label>
									<select id = "inputAno" name="ano" class="form-control">
										<option value=""></option>
									</select>	
								</div>
							</div>

							<div class="form-row">
								<div class="form-group col-lg-2 col-md-4">
									<label for="inputPotencia">Potência do motor</label>
									<select id = "inputPotencia" name="potencia" class="form-control">
										<option value="1.0">1.0</option>
										<option value="1.2">1.2</option>
										<option value="1.3">1.3</option>
										<option value="1.4">1.4</option>
										<option value="1.5">1.5</option>
										<option value="1.6">1.6</option>
										<option value="1.7">1.7</option>
										<option value="1.8">1.8</option>
										<option value="1.9">1.9</option>
										<option value="2.0-2.9">2.0 - 2.9</option>
										<option value="3.0-3.9">3.0 - 3.9</option>
										<option value="4.0+">4.0 ou mais</option>
									</select>	
									
								</div>
								
								<div class="form-group col-md-3 offset-lg-1">
									<label for="inputTipoVeic">Tipo de veículo</label>
									<select id = "inputTipoVeic" name="tipo_veiculo" class="form-control">
										<option value="Hatch">Hatch</option>
										<option value="Sedã">Sedã</option>
										<option value="SUV">SUV</option>
										<option value="Van-Utilitario">Van/Utilitário</option>
										<option value="Conversivel">Conversível</option>
										<option value="Pick-up">Pick-up</option>
										<option value="Antigo">Antigo</option>
										<option value="Buggy">Buggy</option>
										<option value="Passeio">Passeio</option>
									</select>	
									
								</div>
								
								<div class="form-group col-lg-1 offset-lg-1 col-md-2">
									<label for="inputPortas">Portas</label>
									<select id = "inputPortas" name="num_portas" class="form-control">
										<option value="2Portas">2</option>
										<option value="4Portas">4</option>
									</select>	
								</div>
								
								<div class="form-group col-md-2 offset-lg-1">
									<label for="inputTipoVeic">Cor</label>
									<select id = "inputTipoVeic" name="tipo_veiculo" class="form-control">
										<option value="Preto">Preto</option>
										<option value="Branco">Branco</option>
										<option value="Prata">Prata</option>
										<option value="Vermelho">VermelPortasho</option>
										<option value="Cinza">Cinza</option>
										<option value="Azul">Azul</option>
										<option value="Amarelo">Amarelo</option>
										<option value="Verde">Verde</option>
										<option value="Laranja">Laranja</option>
										<option value="Outra">Outra</option>
									</select>	
									
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-4">
									<legend class="col-form-label pt-0">Câmbio</legend>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="cambio" id="cambio_manual" value="manual" checked>
										<label class="form-check-label" for="cambio_manual">
											Manual
										</label>
									</div>
									

									<div class="form-check">
										<input class="form-check-input" type="radio" name="cambio" id="cambio_automatico" value="automatico">
										<label class="form-check-label" for="cambio_automatico">
											Automático
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="cambio" id="cambio_semiautomatico" value="semiautomatico">
										<label class="form-check-label" for="cambio_semiautomatico">
											Semi-Automático
										</label>
									</div>
									

								</div>	
								<div class="col-md-4">									
									<legend class="col-form-label pt-0">Combustível</legend>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="combustivel" id="gasolina" value="gasolina" checked>
										<label class="form-check-label" for="gasolina">
											Gasolina
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="combustivel" id="alcool" value="alcool">
										<label class="form-check-label" for="alcool">
											Álcool
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="combustivel" id="flex" value="flex">
										<label class="form-check-label" for="flex">
											Flex
										</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="radio" name="combustivel" id="gas_natural" value="gas_natural">
										<label class="form-check-label" for="gas_natural">
											Gás Natural
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="combustivel" id="diesel" value="diesel">
										<label class="form-check-label" for="diesel">
											Diesel
										</label>
									</div>

								</div>
								<div class="col-md-4">
									<legend class="col-form-label  pt-0">Direção</legend>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="direcao" id="hidraulica" value="hidraulica" checked>
										<label class="form-check-label" for="hidraulica">
											Hidráulica
										</label>
									</div>
									
									

									<div class="form-check">
										<input class="form-check-input" type="radio" name="direcao" id="eletrica" value="eletrica">
										<label class="form-check-label" for="eletrica">
											Elétrica
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="direcao" id="mecanica" value="mecanica">
										<label class="form-check-label" for="mecanica">
											Mecânica
										</label>
									</div>
									
									<div class="form-check">
										<input class="form-check-input" type="radio" name="direcao" id="assistida" value="assistida">
										<label class="form-check-label" for="assistida">
											Assistida
										</label>
									</div>
									
									
								</div>
							</div>

						</div>

						<div class = "col-md-2">
							<div class="form-row pt-4">
								<legend class="col-form-label pt-5">Opcionais</legend>
								<div class="form-group  form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="airBag" value="airBag">
									<label class="form-check-label" for="airBag">Air bag</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group   form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="arCondicionado" value="arCondicionado">
									<label class="form-check-label" for="arCondicionado">Ar condicionado</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="alarme" value="alarme">
									<label class="form-check-label" for="alarme">Alarme</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="travaEletrica" value="travaEletrica">
									<label class="form-check-label" for="travaEletrica">Trava elétrica</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="som" value="som">
									<label class="form-check-label" for="som">Som</label>
								</div>
							</div>

							<div class="form-row">
								<div class=" form-group form-check form-check-inline ">
									<input class="form-check-input" type="checkbox" id="vidroEletrico" value="vidroEletrico">
									<label class="form-check-label" for="vidroEletrico">Vidro elétrica</label>
								</div>
							</div>	
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline ">
									<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
									<label class="form-check-label" for="inlineCheckbox1">Blindado</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline ">
									<input class="form-check-input" type="checkbox" id="sensorRe" value="sensorRe">
									<label class="form-check-label" for="sensorRe">Sensor de ré</label>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group form-check form-check-inline">
									<input class="form-check-input" type="checkbox" id="cameraRe" value="cameraRe">
									<label class="form-check-label" for="cameraRe">Câmera de ré</label>
								</div>
							</div>

						</div>
					</div>

					<div class="row">
						<div class="col-md-6 offset-md-1">
							COLOCAR DENTRO DESSA DIV O SLIDER (https://www.w3schools.com/jquerymobile/tryit.asp?filename=tryjqmob_forms_slider_range)
							e tem esse (https://refreshless.com/nouislider/)

						</div>
						<div class="col-md-3 pt-5 d-flex flex-row-reverse">
							<button type="submit" class="btn btn-success" id="botaoBuscarC"> Buscar <i class="fa fa-search"></i> </button> 
						</div>
					</div>
				</form>
			</div>
			
			<!-- Pesquisar Usuário (ABA)-->
			<div class="tab-pane fade" id="nav-pesqUsuario" role="tabpanel" aria-labelledby="nav-pesqUsuario-tab">
				<form  class="container content rounded" >
					<div class="form-row pt-5">
						<div class="form-group col-md-8 offset-md-1">
							<label for="nomeCompleto">Usuário</label>
							<input type="text" class="form-control" id="nomeCompleto" aria-describedby="emailHelp" placeholder="Nome Completo">
						</div>
					</div>
					<div class= "form-row ">
						<div class= "col-md-9 d-flex flex-row-reverse">
							<button type="submit" class="btn btn-success" id="botaoBuscarU"> Buscar <i class="fa fa-search"></i></button> 
						</div>
					</div>

				</form>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
		<!-- <script src="bootstrap-datepicker.pt-BR.js"></script> -->
		<script src="../assets/js/datepicker.js"></script>
		<script src="../assets/js/form_city.js"></script>

		
	</body>
	</html>