<!DOCTYPE html>
<html>
<head>
	<title>Carro</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<!-- ### Bootstrap ### -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- ### Fontes ### -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	
	<!-- ### Estilos Gerais ### -->
	<link rel="stylesheet" type="text/css" href="../assets/css/perfil_carro.css">
	
</head>
<body>
	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Fazer Reserva</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
					<form>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label class="modal-label" for="inputInicioReserva">Início da reserva</label>
								<input class="form-control" id="inputInicioReserva" name="date" placeholder="dia/mes/ano" type="text"/>
							</div>
							
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label class="modal-label" for="inputFimReserva">Fim da reserva</label>
								<input class="form-control" id="inputFimReserva" name="date" placeholder="dia/mes/ano" type="text"/>
							</div>
						</div>
					</form>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal">Fazer Reserva</button>
					
				</div>
				
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-expand-md navbar-light bg-light ">
		<div class="container">	

			<div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarSupportedContent">
				<ul class="nav navbar-nav ">
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="#" id="login_nav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Olá, Usuário <i class="fa fa-user"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="login_nav">
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Editar Perfil</a>
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Cadastrar Carro</a>
							<a class="dropdown-item" href="#">Minhas Reservas</a>
							<a class="dropdown-item" href="#">Carros Cadastrados</a>
							<a class="dropdown-item" href="#">Reservas Concluidas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Sair</a>
						</div>
					</li>
				</div>

			</div>
		</nav>
		
		<div class="container">
			<div class="row pb-5">
				<div class="col-lg-12">
					<div class="header">
						<h3><label for="inputTitulo">Citroen Aircross</label></h3>
					</div>
				</div>
			</div>
			<form>
				
				<div class="row ">
					<div class="col-md-7 col-sm-6 offset-md-1">
						<div class="form-group col-md-3">
							<label for="inputMarca">Marca: Citroen</label>
						</div>
						<div class="form-group col-md-3">
							<label for="inputModelo">Modelo: Aircross</label>		
						</div>

						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="inputAno">Ano: 2006</label>
							</div>
							<div class="form-group col-md-4 offset-md-1">
								<label for="inputCambio">Câmbio: Automático</label>
							</div>
						</div>

						<div class="form-group col-md-5">
							<label for="inputDirecao">Direção: Hidráulica</label>
						</div>
						<div class="form-group col-md-5">
							<label for="inputPotênciaMotor">Potência do Motor: 2.0-2.9</label>
						</div>
						<div class="form-group col-md-5">
							<label for="inputTipoVeiculo">Tipo de Veículo: Passeio</label>
						</div>
						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="inputPortas">Portas: 4</label>
							</div>
							<div class="form-group col-md-2 offset-md-1">
								<label for="inputCor">Cor: Prata</label>
							</div>
						</div>
						<div class="form-group col-md-7">
							<label for="inputModelo">Descrição: Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga. In elementis mé pra quem é amistosis quis leo. Posuere libero varius. Nullam a nisl ut ante blandit hendrerit. Aenean sit amet nisi. Mé faiz elementum girarzis, nisi eros vermeio. </label>
						</div>
						<div class="form-group col-md-5">
							<label for="inputPreço">Preço diária: R$ 50,00</label>
						</div>
						<div class="form-group col-md-5">
							<label for="inputLocalizacao">Localização: Pelotas, RS</label>
						</div>
						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="inputLocatário">Locatário:</label>
							</div>
							<div class="form-group col-md-2 offset-md-1">
								<button type="button" class="btn btn-secondary">Ver Perfil</button>
								
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-5">	
						<div class="row d-flex justify-content-left" >
							<img src="http://www.itavema.com.br/dir_fotos/247/citroen-aircross-frente.jpg" class="rounded float-right" alt="Responsive image" >
						</div>
						<br/>
						<div class="row justify-content-center">
							<div class="form-group col-md-2 col-sm-1 reverse starrating offset-md-1 offset-sm-1">
								<input type="radio" id="star5" class="star" name="dialogo" value="5" /><label class="fas fa-star" for="star5" 	title="5 estrelas"></label>  
								<input type="radio" id="star4" class="star" name="dialogo" value="4" /><label class="fas fa-star" for="star4" title="4 estrelas"></label>
								<input type="radio" id="star3" class="star" name="dialogo" value="3" /><label class="fas fa-star" for="star3" title="3 estrelas"></label>
								<input type="radio" id="star2" class="star" name="dialogo" value="2" /><label class="fas fa-star" for="star2" title="2 estrelas"></label>
								<input type="radio" id="star1" class="star" name="dialogo" value="1" /><label class="fas fa-star" for="star1" title="1 estrela"></label>
							</div>
						</div>
						<div class="row justify-content-left offset-md-3">
							<label for="inputAdicionais">Adicionais</label>
						</div>
						<br/>

						<div class="row justify-content-left">
							<div class="form-group col-md-3 form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="airBag" value="airBag">
								<label class="form-check-label" for="airBag">Air bag</label>
							</div>
							<div class="form-group  col-md-6 form-check form-check-inline offset-md-1">
								<input class="form-check-input" type="checkbox" id="arCondicionado" value="arCondicionado">
								<label class="form-check-label" for="arCondicionado">Ar condicionado</label>
							</div>
						</div>
						<div class="row justify-content-left">
							<div class="form-group col-md-3 form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="alarme" value="alarme">
								<label class="form-check-label" for="alarme">Alarme</label>
							</div>							
							<div class="form-group col-md-6 form-check form-check-inline offset-md-1">
								<input class="form-check-input" type="checkbox" id="travaEletrica" value="travaEletrica">
								<label class="form-check-label" for="travaEletrica">Trava elétrica</label>
							</div>
						</div>
						
						<div class="row justify-content-left">
							<div class="form-group col-md-3 form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="som" value="som">
								<label class="form-check-label" for="som">Som</label>
							</div>
							<div class=" form-group col-md-6 form-check form-check-inline offset-md-1">
								<input class="form-check-input" type="checkbox" id="vidroEletrico" value="vidroEletrico">
								<label class="form-check-label" for="vidroEletrico">Vidro elétrica</label>
							</div>
						</div>	
						
						<div class="row justify-content-left">
							<div class="form-group col-md-3 form-check form-check-inline ">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
								<label class="form-check-label" for="inlineCheckbox1">Blindado</label>
							</div>
							<div class="form-group col-md-6 form-check form-check-inline offset-md-1">
								<input class="form-check-input" type="checkbox" id="sensorRe" value="sensorRe">
								<label class="form-check-label" for="sensorRe">Sensor de ré</label>
							</div>
						</div>
						
						<div class="row justify-content-left">
							<div class="form-group col-md-6 form-check form-check-inline">
								<input class="form-check-input" type="checkbox" id="cameraRe" value="cameraRe">
								<label class="form-check-label" for="cameraRe">Câmera de ré</label>
							</div>
						</div>
						<br/>
						<div class="row justify-content-center">
							<button type="button" class="btn btn-info" href="#login" data-toggle="modal" data-target="#myModal">Fazer Reserva</button>
						</div>

					</div>
				</div>	
				
			</div>


			
		</div>

	</form>
</div>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script src="bootstrap-datepicker.pt-BR.js"></script>
<script src="../assets/js/datepicker.js"></script>


</body>
</html>