<!DOCTYPE html>
<html>
<head>
	<title>Carros</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

	<!-- ### Bootstrap ### -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<!-- ### Fonts ### -->
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	
	<!-- ### Estilos Gerais ### -->
	<link rel="stylesheet" type="text/css" href="../assets/css/reservas.css">
</head>

<body>	
	<nav class="navbar navbar-expand-lg navbar-light bg-light ">
		<div class="container">	

			<div class="collapse navbar-collapse d-flex flex-row-reverse " id="navbarSupportedContent">
				<ul class="nav navbar-nav ">
					<li class="nav-item dropdown ">
						<a class="nav-link dropdown-toggle" href="#" id="login_nav" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Olá, Usuário <i class="fa fa-user"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="login_nav">
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Editar Perfil</a>
							<a class="dropdown-item" href="#">Meu Perfil</a>
							<a class="dropdown-item" href="#">Cadastrar Carro</a>
							<a class="dropdown-item" href="#">Minhas Reservas</a>
							<a class="dropdown-item" href="#">Carros Cadastrados</a>
							<a class="dropdown-item" href="#">Reservas Concluidas</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Sair</a>
						</div>
					</li>
				</div>

			</div>
		</nav>

		<div class="container">


			<div class="row pb-5">
				<div class="col-lg-12">
					<div class="header">
						<h3>Minhas Reservas</h3>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="card row">
					
						<div class="bg-light col-lg-3 col-md-6 d-flex align-items-center" style="max-width: 22rem;">
							<img class="card-img " src="https://cdn.salaodocarro.com.br/_upload/carros/toyota/corolla.jpg" alt="Card image cap">

						</div>
						<div class="center col-lg-2 d-flex align-items-center">
							<h5 class="card-title">Toyota Corolla</h5>
						</div>
						
						<div class="center col-lg-3 d-flex align-items-end mb-3" >
							<p class="card-text">Reservado de 01/01/2018 até 20/01/2018</p>
						</div>

						<div class=" center col-lg-4 d-flex align-items-center">
							<div class="row">
								<div class="col-lg-6 col-md-6 contato">
									<button type="button" class="btn btn-info mb-3 ">Contatar Locatário</button>
								</div>
								<div class="col-lg-6 col-md-6 perfil">
									<button type="button" class="btn btn-info mb-3 ">Perfil do Carro</button>
								</div>
							</div>
						</div>
				</div>
			</div>

			<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>-->
			<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
			<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/ulg/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
				<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->

			</body>
	</html>